body {
    background-color: cornflowerblue;
}

#form {
    position: relative;
    margin:100px auto;
    background-color: cornflowerblue;
    width: 300px;   
}

#input {
    height: 50px;

}

#button {
    margin-left: -5px;
    border: none;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    background-color: blue;
    color: white;
}


.item-ul {
    display: inline-block;
    width:400px;
    margin: 10 10 10 -100;
    border:1px white solid;
    background-color: violet;
    font-size: 25px;
    color:white;
    border-radius: 10px;
    padding: 5px;
}

.remove {
    float: right;
    margin:5px;
    color:white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}